{# Header Partial - مطابق للموقع مع تغيير الألوان فقط #}
<header class="store-header fixed-sticky is_large" style="background-color:#df3a3f;">
  <div id="mainnav" class="main-nav-container has-header-bottom" style="height:122px;">
    <div class="header-inner inner bg-white da-bgm">
      <div class="angel-ad overflow-hidden" style="background-color:#df3a3f;">
        <div class="mask-block">
          <div class="angel-ad__slider" style="animation-duration:21000ms;">
            <div class="angel-ad__item" style="color:#fff">
              <i class="sicon-bell-ring angel-ad__icon"></i>
              <a class="angel-ad__content pointer-events-none" href="#" target="_blank">
                جميع المنتجات بخصوصيات حصرية لعملائنا والشحن مع ريد بوكس 14 ريال فقط وتوصيل مندوب المتجر لباب البيت 18 ريال خاص لأول طلب relax ثقتكم غايتنا
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-container container">
        <div class="flex items-stretch justify-between relative">
          <div class="flex items-center justify-start w-1/3">
            <button id="back-Btn" class="back-btn header-btn me-2 md:hidden flex-center" type="button">
              <i class="sicon-arrow-right text-lg da-tm"></i>
            </button>
            <a class="mburger mburger--collapse flex items-start me-1" href="#mobile-menu" aria-label="menu">
              <i class="sicon-menu text-primary text-2xl"></i>
              <p class="da-tm hidden text-xl md:block ms-1">القائمة</p>
            </a>
          </div>
          <div class="flex items-center flex-col justify-center">
            <a class="navbar-brand p-1" href="/" aria-label="Vaperelax">
              <img class="logo-dark" loading="eager" height="100" width="200" src="https://cdn.salla.sa/QpVno/TBVGw5KD9IbpkWM9ANUHxiT8iOc8zmekK6Tbu4El.png" alt="Vaperelax" style="width:auto;height:3.5rem" fetchpriority="high">
              <p class="sr-only">Vaperelax</p>
            </a>
          </div>
          <div class="flex items-center justify-end w-1/3">
            <div class="header-buttons hidden lg:block">
              <salla-localization-modal language="ar" currency="SAR" class="hydrated"></salla-localization-modal>
            </div>
            <span class="search-btn header-btn flex da-fm angelmodal-toggle cursor-pointer" data-angelmodal="angel-search">
              <i class="sicon-search text-base text-black da-tm"></i>
            </span>
            <button type="button" class="header-btn !flex" aria-label="user">
              <i class="sicon-user text-base text-black da-tm"></i>
            </button>
            <salla-cart-summary class="header-cart no-summary hydrated">
              <a class="s-cart-summary-wrapper" href="/cart">
                <div id="s-cart-icon">
                  <i class="s-cart-summary-icon"></i>
                </div>
                <span class="s-cart-summary-count">1</span>
                <p class="s-cart-summary-content"><b class="s-cart-summary-total">85 <i class="sicon-sar"></i></b></p>
              </a>
            </salla-cart-summary>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-header opacity-90 dark bg-white da-bgm">
    <ul class="bottom-header-buttons">
      <li class="bottom-header-button bottom-header-home">
        <a class="bottom-header-icon" href="/" aria-label="home-page">
          <i class="sicon-house-door text-base text-black da-tm"></i>
          <span>الرئيسية</span>
        </a>
      </li>
      <li class="bottom-header-button bottom-header-menu">
        <a class="bottom-header-icon mburger mburger--collapse" href="#mobile-menu" aria-label="menu">
          <i class="sicon-layout-grid text-black da-tm text-2xl"></i>
          <span>الأقسام</span>
        </a>
      </li>
      <li class="bottom-header-button bottom-header-cart">
        <salla-cart-summary class="header-cart bottom-header-icon hydrated">
          <a class="s-cart-summary-wrapper" href="/cart">
            <div id="s-cart-icon">
              <i class="s-cart-summary-icon"></i>
            </div>
            <span class="s-cart-summary-count">1</span>
            <p class="s-cart-summary-content"><b class="s-cart-summary-total">85 <i class="sicon-sar"></i></b></p>
          </a>
        </salla-cart-summary>
      </li>
      <li class="bottom-header-button bottom-header-search">
        <span class="search-btn bottom-header-icon header-btn da-fm angelmodal-toggle cursor-pointer" data-angelmodal="angel-search">
          <i class="sicon-search text-base text-black da-tm"></i>
          <span>بحث</span>
        </span>
      </li>
      <li class="bottom-header-button bottom-header-user">
        <button type="button" class="header-btn bottom-header-icon" aria-label="user">
          <i class="sicon-user text-base text-black da-tm"></i>
          <span>دخول</span>
        </button>
      </li>
    </ul>
  </div>
</header>
