<aside class="filters-menu md:w-52 lg:sticky lg:top-32 flex-none">
    <div class="s-filters-widget-container">
        <h3 class="s-filters-widget-title">الأقسام</h3>
        <div class="s-filters-widget-content">
            <div class="s-filters-widget-values">
                <label class="s-filters-label"><input type="radio" name="category_id" class="s-filters-radio"> <span class="s-filters-option-name">بودات</span></label>
                <label class="s-filters-label"><input type="radio" name="category_id" class="s-filters-radio"> <span class="s-filters-option-name">الأكثر مبيعاً</span></label>
                <label class="s-filters-label"><input type="radio" name="category_id" class="s-filters-radio"> <span class="s-filters-option-name">تانكات شيشة الكترونية</span></label>
            </div>
        </div>
    </div>
    <div class="s-filters-widget-container">
        <h3 class="s-filters-widget-title">الماركات</h3>
        <div class="s-filters-widget-content">
            <div class="s-filters-widget-values">
                <label class="s-filters-label"><input type="radio" name="brand_id" class="s-filters-radio"> <span class="s-filters-option-name">يو ويل - UWELL</span></label>
                <label class="s-filters-label"><input type="radio" name="brand_id" class="s-filters-radio"> <span class="s-filters-option-name">فابريسو Vaporesso</span></label>
                <label class="s-filters-label"><input type="radio" name="brand_id" class="s-filters-radio"> <span class="s-filters-option-name">سموك - Smok</span></label>
                <label class="s-filters-label"><input type="radio" name="brand_id" class="s-filters-radio"> <span class="s-filters-option-name">فوبو Voopoo</span></label>
                <label class="s-filters-label"><input type="radio" name="brand_id" class="s-filters-radio"> <span class="s-filters-option-name">جاك فيب Jeek vape</span></label>
                <label class="s-filters-label"><input type="radio" name="brand_id" class="s-filters-radio"> <span class="s-filters-option-name">فيوز Vuse</span></label>
                <label class="s-filters-label"><input type="radio" name="brand_id" class="s-filters-radio"> <span class="s-filters-option-name">اوكسفا - OXVA</span></label>
                <label class="s-filters-label"><input type="radio" name="brand_id" class="s-filters-radio"> <span class="s-filters-option-name">Univapo</span></label>
                <label class="s-filters-label"><input type="radio" name="brand_id" class="s-filters-radio"> <span class="s-filters-option-name">جوسي - Juicy</span></label>
            </div>
        </div>
    </div>
    <div class="s-filters-widget-container">
        <h3 class="s-filters-widget-title">التقييم</h3>
        <div class="s-filters-widget-content">
            <div class="s-filters-widget-values">
                <label class="s-filters-label"><input type="radio" name="rating" class="s-filters-radio"> <span class="s-filters-option-name">5 نجوم</span></label>
                <label class="s-filters-label"><input type="radio" name="rating" class="s-filters-radio"> <span class="s-filters-option-name">4 نجوم</span></label>
            </div>
        </div>
    </div>
</aside>
