{# Footer Partial #}
</footer>
<footer class="store-footer dark">
  <div class="store-footer__inner da-bgm">
    <div class="container flex flex-col">
      <div class="to-top flex justify-center da-tm overflow-hidden" data-wow-delay="0.5s">
        <a class="flex-center pb-2 pt-4 gap-2 w-max h-full" href="#" aria-label="link">
          <p>العودة إلى أعلى</p>
          <i class="sicon-arrow-up icon"></i>
        </a>
      </div>
      <div class="footer-top footer-container flex align-center flex-col md:flex-row da-brdr">
        <div class="footer-newsletter flex flex-col">
          <div id="mail" class="mail flex flex-col md:flex-row md:gap-4">
            <div class="title-mail md:text-start">
              <strong class="da-tm font-bold text-xl">كن أول من يعرف!</strong>
              <p class="mb-2 lg:mb-0 da-tm">اشترك بنشرتنا البريدية ليصلك كل جديد.</p>
            </div>
            <form name="submit-form">
              <div class="flex w-full">
                <input type="email" name="Email" placeholder="ادخل البريد الإلكتروني" required class="required mail-input form-input rtl:rounded-l-none ltr:rounded-r-none rtl:border-l-0 ltr:border-r-0">
                <button type="submit" class="s-button-wrap s-button-element s-button-btn s-button-solid s-button-primary s-button-loader-center rtl:rounded-r-none ltr:rounded-l-none rtl:rounded-l-md ltr:rounded-r-md">
                  <span class="s-button-text"><span class="btn__text">اشترك</span></span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="footer-social flex flex-col">
          <div class="flex social-links flex-col">
            <h3 class="text-center follow mb-1 text-lg da-cp md:!hidden">تابع Vaperelax</h3>
            <div class="social-links flex justify-center gap-2"></div>
          </div>
        </div>
      </div>
      <div class="footer-middle footer-container flex align-center flex-col md:flex-row da-brdr md:gap-4">
        <div class="flex flex-col md:max-w-xs footer-profile">
          <a class="flex items-center m-0 logo-footer" href="/" aria-label="link">
            <img class="logo-dark foo" height="100" width="200" src="/assets/logo.png" alt="Vaperelax" style="width:auto; height:2.5rem" loading="lazy">
          </a>
          <p class="footer-description">فيب ريلاكس نقدم لكم اجهزه فيب الالكترونية معسل الكتروني سحبه سيجاره نكهات فيب و سولت باقل الاسعار و توصيل لكافه مدن السعوديه
و نوفر دفع عند الأستلام ثقتكم غايتنا</p>
        </div>
        <div class="flex flex-col shrink-0">
          <div class="menu-list">
            <h3>روابط تهمك</h3>
            <div class="footer-list store-links-items">
              <a href="/blog" class="block mb-5 last:mb-0 text-sm leading-none da-tm hover:text-primary">مدونة فيب ريلاكس</a>
              <a href="/من-نحن" class="block mb-5 last:mb-0 text-sm leading-none da-tm hover:text-primary">من نحن !</a>
              <a href="/سياسة-الاستخدام-والخصوصيه" class="block mb-5 last:mb-0 text-sm leading-none da-tm hover:text-primary">سياسة الاستخدام والخصوصيه</a>
              <a href="/سياسة-الاستبدال-والاسترجاع" class="block mb-5 last:mb-0 text-sm leading-none da-tm hover:text-primary">سياسة الاستبدال والاسترجاع</a>
              <a href="/كيفية-طلب-المنتج" class="block mb-5 last:mb-0 text-sm leading-none da-tm hover:text-primary">كيفية طلب المنتج</a>
              <a href="/شروط-و-احكام" class="block mb-5 last:mb-0 text-sm leading-none da-tm hover:text-primary">شروط و احكام الموقع</a>
              <a href="/سياسة-توصيل-المجاني" class="block mb-5 last:mb-0 text-sm leading-none da-tm hover:text-primary">سياسة توصيل المجاني</a>
              <a href="/ما-هي-خدمات-ريد-بوكس" class="block mb-5 last:mb-0 text-sm leading-none da-tm hover:text-primary">ما هي خدمات ريد بوكس؟</a>
            </div>
          </div>
        </div>
        <div class="flex flex-col shrink-0">
          <h3 class="title text-center">خدمة العملاء</h3>
          <div class="contact-links flex-center gap-3">
            <a href="/whatsapp/send" class="!flex flex-col items-center justify-center text-sm leading-none gap-2">
              <i class="flex-center shrink-0 sicon-whatsapp2"></i>
              <span class="text-unicode unicode text-center">واتساب</span>
            </a>
            <a href="tel:+966531052148" class="!flex flex-col items-center justify-center text-sm leading-none gap-2">
              <i class="flex-center shrink-0 sicon-iphone"></i>
              <span class="text-unicode unicode text-center">جوال</span>
            </a>
          </div>
        </div>
        <div class="flex flex-col gap-4 shrink-0">
          <div class="footer-images"></div>
        </div>
      </div>
      <div class="footer-bottom flex flex-col lg:flex-row items-center justify-between py-4 gap-4">
        <ul class="flex justify-center items-center flex-wrap gap-2">
          <li class="pay-mada w-12 h-7 bg-white rounded flex items-center p-1">
            <img class="lazy object-contain max-h-full loaded" width="100" height="100" src="/assets/mada.png" alt="mada" loading="lazy">
          </li>
          <li class="pay-mastercard w-12 h-7 bg-white rounded flex items-center p-1">
            <img class="lazy object-contain max-h-full loaded" width="100" height="100" src="/assets/mastercard.png" alt="credit_card" loading="lazy">
          </li>
          <li class="pay-visa w-12 h-7 bg-white rounded flex items-center p-1">
            <img class="lazy object-contain max-h-full loaded" width="100" height="100" src="/assets/visa.png" alt="credit_card" loading="lazy">
          </li>
          <li class="pay-stc_pay w-12 h-7 bg-white rounded flex items-center p-1">
            <img class="lazy object-contain max-h-full loaded" width="100" height="100" src="/assets/stc_pay.png" alt="stc_pay" loading="lazy">
          </li>
          <li class="pay-apple_pay w-12 h-7 bg-white rounded flex items-center p-1">
            <img class="lazy object-contain max-h-full loaded" width="100" height="100" src="/assets/apple_pay.png" alt="apple_pay" loading="lazy">
          </li>
          <li class="pay-google_pay w-12 h-7 bg-white rounded flex items-center p-1">
            <img class="lazy object-contain max-h-full loaded" width="100" height="100" src="/assets/google_pay.png" alt="google_pay" loading="lazy">
          </li>
          <li class="pay-tamara_installment w-12 h-7 bg-white rounded flex items-center p-1">
            <img class="lazy object-contain max-h-full loaded" width="100" height="100" src="/assets/tamara_installment.png" alt="tamara_installment" loading="lazy">
          </li>
        </ul>
        <span class="copyrights text-sm opacity-75">
          <p class="text-gray-400 mb-2.5 md:mb-0">الحقوق محفوظة | 2025
            <a href="/" class="hover:text-primary" target="_blank" rel="noreferrer">Vaperelax</a>
          </p>
        </span>
      </div>
    </div>
  </div>
</footer>
</footer>
