<!-- صفحة الخطأ - مطابقة للكود الأصلي مع تغيير الألوان فقط -->
<main class="main main--404">
    <div class="container container--wide">
        <div class="e404-container">
            <div class="landing">
                <h1 class="title title--giant title--404">
                    <img src="/assets/logo.png" alt=""> 410
                </h1>
                <h3>نأسف، الرابط غير موجود</h3>
                <p>
                    الرابط المطلوب غير موجود، <br>
                    من فضلك حاول مرة أخرى أو تواصل مع الدعم الفني
                </p>
                <a href="/">الذهاب للصفحة الرئيسية</a>
            </div>
            <div class="msg">
                <form class="feedback-error row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" required type="text" name="name" placeholder="اسمك الكريم">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" required type="email" name="email" placeholder="بريدك الالكتروني">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <textarea class="form-control" required name="comments" placeholder="نص رسالتك هنا!"></textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="controls">
                            <button id="btn-return" class="btn btn--circular btn--return">
                                <svg height="20px" viewBox="0 0 32 32" width="20px" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M32,16.009c0-0.267-0.11-0.522-0.293-0.714l-9.899-9.999c-0.391-0.395-1.024-0.394-1.414,0c-0.391,0.394-0.391,1.034,0,1.428l8.193,8.275H1c-0.552,0-1,0.452-1,1.01s0.448,1.01,1,1.01h27.586l-8.192,8.275c-0.391,0.394-0.39,1.034,0,1.428c0.391,0.394,1.024,0.394,1.414,0l9.899-9.999C31.894,16.534,31.997,16.274,32,16.009z" fill="#fff"></path>
                                </svg>
                            </button>
                            <button id="btn-send" class="btn btn--large btn--round btn--primary">ارسال</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-group msg-container"></div>
    </div>
</main>
